<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>菜谱管理页面</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,menu-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/score.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script src="../plugins/angularjs/pagination.js"></script>
    <script src="../js/base_pagination.js"></script>
	<script src="../js/service/menuService.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/menuController.js"></script>
	<script src="../js/validate.js"></script>
	<script src="../js/score.js"></script>
	<script src="../js/service/uploadService.js"></script>

</head>
<body ng-init="" class="hold-transition skin-red sidebar-mini">
  	<!-- .box-body -->
	<div class="box-body">
		<!-- 数据表格 -->
		<div class="table-box">
			<div class="box-tools pull-right">
				<div class="has-feedback">
					菜式名称：<input ng-model="searchParam">
					<button class="btn btn-default" ng-click="reloadList()">查询</button>
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#editModal" ng-click="clean()">新建</button>
					<button type="button" class="btn btn-default" data-toggle="modal" ng-click="delete()">删除</button>
				</div>
			</div>
			<!--工具栏/-->

			  <!--数据列表-->
			  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
				  <thead>
					  <tr>
						  <th class="" style="padding-right:0px" style="text-align:center;">
							  <input id="selall" type="checkbox" class="icheckbox_square-blue">
						  </th>
						  <th style="text-align:center;">菜谱编号</th>
						  <th style="text-align:center;">菜式名称</th>
						  <th style="text-align:center;">味道</th>
						  <th style="text-align:center;">照片</th>
						  <th style="text-align:center;">分类</th>
						  <th style="text-align:center;">评分</th>
						  <th style="text-align:center;">操作</th>
					  </tr>
				  </thead>
				  <tbody>
					  <tr ng-repeat="entity in list">
						  <td style="text-align:center;"><input ng-click="updateSelection($event, entity.menuId)" type="checkbox" ></td>
						  <td style="text-align:center;">{{entity.menuId}}</td>
						  <td style="text-align:center;">{{entity.name}}</td>
						  <td style="text-align:center;">{{entity.taste}}</td>
						  <td style="text-align:center;">
							  <img src="{{entity.pictureUrl}}" width=50px height=50px />
						  </td>
						  <td style="text-align:center;">{{entity.category}}</td>
						  <td style="text-align:center;">
							  <span ng-if="entity.score == 1">
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
							  </span>
							  <span ng-if="entity.score == 2">
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
							  </span>
							  <span ng-if="entity.score == 3">
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
							  </span>
							  <span ng-if="entity.score == 4">
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/noneStar.png" height="20" width="20"/>
							  </span>
							  <span ng-if="entity.score == 5">
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
								  <img src="../images/fullStar.png" height="20" width="20"/>
							  </span>
						  </td>
						  <td style="text-align:center;">
							  <button type="button" class="btn bg-blue btn-xs" ng-click="findOne(entity.menuId)" data-toggle="modal" data-target="#editModal">修改</button>
							  <button type="button" class="btn bg-red btn-xs" ng-click="deleteOne(entity.menuId)" data-toggle="modal" >删除</button>
						  </td>
					  </tr>

				  </tbody>
			  </table>
			  <!--数据列表/-->


		</div>
		<!-- 数据表格 /-->
		<tm-pagination conf="paginationConf"/>



	 </div>
	<!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="topClose" ng-click="fresh()">×</button>
			<h3 id="myModalLabel">编辑菜谱信息</h3>
		</div>
		<div class="modal-body">
			<table class="table table-bordered table-striped"  width="800px">
				<input type="hidden" id="menuId" />
		      	<tr>
		      		<td><span style="color: red">*</span> 菜式名称</td>
		      		<td>
						<input class="form-control" ng-model="entity.name" placeholder="菜谱名称" id="name" onblur="checkName()" />
					</td>
					<td width="100px" id="nameTd"></td>
		      	</tr>

				<tr>
					<td>味道</td>
					<td>
						<input type="checkbox" name="taste">酸&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="taste">甜&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="taste">苦&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="taste">辣&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="checkbox" name="taste">咸&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
				</tr>

				<tr>
					<td>照片</td>
					<td>
						<input type="file" id="file" />
						<button ng-click="uploadFile()">上传图片</button>
					</td>
					<td>
						<img src="{{entity.pictureUrl}}" width="50px"/>
					</td>
				</tr>

				<tr>
					<td>分类</td>
					<td>
						<select id="categorySelect">
							<option value="">---请选择---</option>
							<option value="1">主食</option>
							<option value="2">小吃</option>
							<option value="3">汤</option>
							<option value="4">甜品</option>
							<option value="5">调味料</option>
						</select>
					</td>
				</tr>

				<tr>
					<td>做法步骤</td>
					<td><textarea rows="10" cols="45" ng-model="entity.step" style="resize:none" ></textarea></td>
				</tr>

				<tr>
					<td>评分</td>
					<td>
						<img src="../images/fullStar.png" height="20" width="20" id="star1" onclick="selectStar1()"/>
						<img src="../images/noneStar.png" height="20" width="20" id="star2"/>
						<img src="../images/noneStar.png" height="20" width="20" id="star3"/>
						<img src="../images/noneStar.png" height="20" width="20" id="star4"/>
						<img src="../images/noneStar.png" height="20" width="20" id="star5"/>
					</td>
				</tr>

				<tr>
					<td>评价内容</td>
					<td><textarea rows="10" cols="45" ng-model="entity.evaluateContent" style="resize:none" ></textarea></td>
				</tr>

			 </table>
		</div>
		<div class="modal-footer">
			<input type="hidden" id="validateMsg"/>
			<button class="btn btn-success" data-dismiss="modal" onclick="checkForm()" ng-click="save()"
					aria-hidden="true" >保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true" id="bottomClose" ng-click="fresh()">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>