<html>
<head>
    <meta charset="utf-8">
    <title>咸鱼菜谱网</title>
    <meta name="keywords" content="菜谱">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta property="qc:admins" content="">
    <link rel="stylesheet" href="../css/index.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script src="../plugins/angularjs/pagination.js"></script>
    <script src="../js/base_pagination.js"></script>
    <script src="../js/controller/menuController.js"></script>
    <script src="../js/service/menuService.js"></script>
    <script src="../js/service/uploadService.js"></script>
</head>

<body ng-app="menu" ng-controller="menuController" ng-init="search()">
<!-- 搜索栏 -->
<div class="c_head">
    <div class="w1000m">
        <h1 class="c_logo"><img src="../images/logo.png" alt="咸鱼菜谱网" height="50px">咸鱼菜谱网</h1>
        <a class="c_abtn1" href="menu_edit.html" target="_parent"><i class="i i8"></i>发布菜谱</a>
        <!-- search -->
        <div class="c_search">
            <div class="c_keyword">
                <input placeholder="搜索菜谱、专题、食材、用户" ng-model="searchParam">
            </div>
            <button class="input_search" ng-click="reloadList()"></button>
        </div>
    </div>
</div>

<!-- 菜单栏 -->
<div class="c_nav">
    <div class="c_nav_wrap">
        <div class="c_navl" id="">
            <a class="cur" href="">首页</a>
            <a class="c_nav2" data-to="stapleFood">美味主食</a>
            <a class="c_nav2" data-to="snack">休闲小吃</a>
            <a class="c_nav2" data-to="soup">浓郁靓汤</a>
            <a class="c_nav2" data-to="sweetMeats">精致甜品</a>
            <a class="c_nav2" data-to="dressing">健康调味</a>
        </div>
    </div>
</div>

<div id="left"><img src="../images/top.jpg" width="50px" height="50px"/></div>
<!-- 轮播图 -->
<div class="w1000m">
    <div class="i_con0" id="i-slider_l">

        <div class="i_bigwrap">
            <ul class="i_bigimgs" style="width: 5050px; left: 0px;">
                <li ng-repeat="item in carouselDesignsList track by $index">
                    <a class="i_bi1" href="{{item.menuId}}"><img ng-src="{{item.pictureUrl}}" alt="{{item.name}}"></a>
                    <a class="i_bi2" href="{{item.menuId}}"><img ng-src="{{item.pictureUrl}}" alt="{{item.name}}"><strong>{{item.name}}</strong></a>
                </li>
            </ul>
            <ul class="i_bigcur">
                <li class="on"></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
        </div>
        <div class="i_bigarrow">
            <a class="i_bigprev"><img alt="左滑" src="../images/carouselDesigns/arrowl.png"></a>
            <a class="i_bignext"><img alt="右滑" src="../images/carouselDesigns/arrowr.png"></a>
        </div>
    </div>
</div>

<!-- 美味主食 -->
<div class="i_bg2" id="stapleFood">
    <div class="w1000m" id="zgcp">
        <div class="c_tit">
            <strong>
                <a href="">美味主食</a>
                <span class="c_h21i">selected&nbsp;menu</span>
            </strong>
            <div class="c_sortitems">
                <a class="c_sitem c_sitem_cur">今天</a>
                <a class="c_sitem">本周</a>
                <a class="c_sitem">本月</a>
            </div>
        </div>

        <div class="c_con">
            <ul class="i_con1" id="jp_list">
                <li class="pic" ng-repeat="item in stapleFoodList track by $index">
                    <a href="{{item.menuId}}">
                        <img class="fl" ng-src="{{item.pictureUrl}}" alt="{{item.name}}" onload="cssImgResize(this,120,150)" width="200" height="150" style="margin: 0px -40px;">
                    </a>
                    <span class="c">
                        <strong><a href="{{item.menuId}}">{{item.name}}</a></strong><p>{{item.desc}}</p>
                    </span>
                </li>
            </li></ul>
        </div>
    </div>
    <div></div>
</div>

<!-- 休闲小吃 -->
<div class="w1000m clearfix" id="snack">
    <div class="w660">
        <div id="slsc">
            <div class="c_tit">
                <strong>
                    <a href="">休闲小吃</a>
                    <span class="c_h22i">seasonal&nbsp;food</span>
                </strong>
            </div>
            <div class="i_con2">
                <a href="{{item.menuId}}" ng-repeat="item in snackList track by $index"><img alt="{{item.name}}" ng-src="{{item.pictureUrl}}"><strong>{{item.name}}</strong></a>
            </div>
        </div>
    </div>
</div>

<!-- 浓郁靓汤 -->
<div class="i_bg2 mt20" id="soup">
    <div class="w1000m clearfix">
        <div class="w660">
            <div class="c_tit">
                <strong>
                    <a href="">浓郁靓汤</a>
                    <span class="c_h24i">selected&nbsp;menu</span>
                </strong>
                &lt;     <a class="c_abtn2" href=""><i class="i i9"></i>更多菜谱</a>
            </div>
            <div class="i_con3">
                <ul>
                    <li ng-repeat="item in soupList track by $index">
                        <a href="{{item.menuId}}">
                            <img alt="{{item.name}}" onload="cssImgResize(this,190,220)" ng-src="{{item.pictureUrl}}" width="290" height="220" style="margin: 0px -50px;">
                            <strong>{{item.name}}</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- 精致甜品 -->
<div class="w1000m" id="sweetMeats">
    <div>
        <div class="c_tit">
            <strong>
                <a href="">精致甜品</a>
                <span class="c_h21i">food&nbsp;topic</span>
            </strong>
            <a class="c_abtn2" href=""><i class="i i9"></i>更多专题</a>
        </div>
        <div class="i_con4" id="i-slider_s">
            <div class="i_sulwrap">
                <ul class="clearfix" style="width: 2880px;">
                    <li ng-repeat="item in sweetMeatsList track by $index"><a href="{{item.menuId}}">
                        <img ng-src="{{item.pictureUrl}}" alt="{{item.name}}"></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!-- 健康调味 -->
<div class="i_bg2 mt20" id="dressing">
    <div class="w1000m">
        <div class="c_tit">
            <strong>
                <a href="">健康调味</a>
                <span class="c_h21i">Health&nbsp;News</span>
            </strong>
        </div>
        <div class="c_con">
            <ul class="i_con5">
                <li class="i_scon5" ng-repeat="item in dressingList track by $index">
                    <div class="i_tit">
                        <strong>健康调味</strong>
                        <a class="c_abtn3" href="">
                            <i class="i i9"></i>更多
                        </a>
                    </div>
                    <div class="i_sci5">
                        <a class="cur" href="{{item.menuId}}"><img ng-src="{{item.pictureUrl}}" alt="{{item.name}}"></a>
                    </div>
                    <ul class="i_scof5">
                        <li class="i_scof5"><a href="{{item.menuId}}">{{item.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

</body></html>