<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>定时任务列表</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">
    <script src="../plugins/angularjs/pagination.js"></script>
    <script src="../js/base_pagination.js"></script>
	<script src="../js/service/taskService.js"></script>
    <script src="../js/controller/baseController.js"></script>
    <script src="../js/controller/taskController.js"></script>
    

</head>
<body ng-app="quartz" ng-controller="taskController" ng-init="" class="hold-transition skin-red sidebar-mini">
  <!-- .box-body -->
				  <div align="center">
					  <h3 ng-if="selected.Env != null">当前所连接的是{{selected.Env}}环境</h3>
					  <h3 ng-if="selected.Env == null">请选择连接的环境</h3>
				  </div>

				  <div align="right">
					  <select ng-model="selected.Env">
						  <option selected="selected" value="dev">dev</option>
						  <option value="test1">test1</option>
					  </select>
				  </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <div class="box-tools pull-right">
                                <div class="has-feedback">
							        定时任务名称：<input ng-model="searchEntity.name">
                                    定时任务对象：<input ng-model="searchEntity.firstChar">
                                    <button class="btn btn-default" ng-click="reloadList()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">序号</th>
									      <th class="sorting">定时任务名称</th>
									      <th class="sorting">定时任务对象</th>
										  <th class="sorting">启动类型</th>
										  <th class="sorting">运行状态</th>
										  <th class="sorting">定时任务表达式</th>
										  <th class="sorting">加载时间</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="entity in list">
			                              <td><input ng-click="updateSelection($event, entity.id)" type="checkbox" ></td>
				                          <td>{{entity.taskId}}</td>
									      <td>{{entity.taskName}}</td>
		                                  <td>{{entity.taskClass}}</td>
										  <td>
											  <span ng-if="entity.runType == 0">自动</span>
											  <span ng-if="entity.runType == 1">手动</span>
										  </td>
										  <td>
											  <span ng-if="entity.runStatus == 0">启动</span>
											  <span ng-if="entity.runStatus == 1">停止</span>
										  </td>
										  <td>{{entity.executeCron}}</td>
										  <td>{{entity.loadTime}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-blue btn-xs" ng-click="findOne(entity.taskId)" data-toggle="modal" data-target="#editModal">修改</button>
											  <button type="button" class="btn bg-olive btn-xs" ng-click="startTask(entity.taskId)">启动</button>
											  <button type="button" class="btn bg-red btn-xs" ng-click="stopTask(entity.taskId)">停止</button>
											  <button type="button" class="btn bg-yellow btn-xs" ng-click="startOnceTime(entity.taskId)">立即执行一次</button>
		                                  </td>
			                          </tr>

			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        <tm-pagination conf="paginationConf"/>
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">编辑定时任务</h3>
		</div>
		<div class="modal-body">		
			<table class="table table-bordered table-striped"  width="800px">
		      	<tr>
		      		<td>定时任务名称</td>
		      		<td><input  class="form-control" ng-model="entity.taskName" placeholder="定时任务名称" >  </td>
		      	</tr>
				<tr>
					<td>定时任务类名</td>
					<td><input  class="form-control" ng-model="entity.taskClass" placeholder="定时任务类名" >  </td>
				</tr>
				<tr>
					<td>启动类型</td>
					<td><input  class="form-control" ng-model="entity.runType" placeholder="启动类型" >  </td>
				</tr>
				<tr>
					<td>运行状态</td>
					<td><input  class="form-control" ng-model="entity.runStatus" placeholder="运行状态" >  </td>
				</tr>
				<tr>
					<td>定时任务表达式</td>
					<td><input  class="form-control" ng-model="entity.executeCron" placeholder="定时任务表达式" >  </td>
				</tr>
			 </table>
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" ng-click="save()" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>