<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exc.mapper.MenuMapper" >
    <resultMap id="menuMap" type="com.exc.model.Menu" >
        <id column="menu_id" property="menuId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="taste" property="taste" jdbcType="INTEGER" />
        <result column="picture_url" property="pictureUrl" jdbcType="VARCHAR" />
        <result column="step" property="step" jdbcType="VARCHAR" />
        <result column="score" property="score" jdbcType="INTEGER" />
        <result column="evaluate_content" property="evaluateContent" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="column" >
        menu_id, name, taste, picture_url, step, score, evaluate_content, create_time, update_time
    </sql>

    <select id="listMenu" parameterType="java.lang.String" resultMap="menuMap" >
        SELECT
        <include refid="column" />
        FROM menu
        <where>
            <if test="searchParam != null">
                name LIKE CONCAT("%",#{searchParam},"%")
            </if>
        </where>
        <if test="currentPage != null and itemsPerPage != null">
            LIMIT #{currentPage}, #{itemsPerPage};
        </if>
    </select>

    <select id="countSize" parameterType="java.lang.String" resultType="java.lang.Integer" >
        SELECT COUNT(1) FROM menu
        <where>
            <if test="searchParam != null">
                name LIKE CONCAT("%",#{searchParam},"%");
            </if>
        </where>
    </select>

    <insert id="insertMenu" parameterType="com.exc.model.RequestParamVo">
        INSERT INTO menu
        (menu_id, name, taste, picture_url, step,
        score, evaluate_content, create_time, update_time)
        values (NULL, #{name}, #{taste, jdbcType=INTEGER}, #{pictureUrl, jdbcType=VARCHAR},#{step, jdbcType=VARCHAR},
        #{score, jdbcType=INTEGER}, #{evaluateContent, jdbcType=VARCHAR}, NOW(),NULL)
    </insert>

    <!--<update id="updateUser"  parameterType="com.exc.model.RequestParamVo">-->
        <!--UPDATE menu-->
        <!--<trim prefix="SET" suffixOverrides=",">-->
            <!--<if test="pwd != null">-->
                <!--pwd = #{pwd, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="realName != null">-->
                <!--real_name = #{realName, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="sex != null">-->
                <!--sex = #{sex, jdbcType=INTEGER},-->
            <!--</if>-->
            <!--<if test="idCard != null">-->
                <!--id_card = #{idCard, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="phone != null">-->
                <!--phone = #{phone, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="addressProvince != null">-->
                <!--address_province = #{addressProvince, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="addressCity != null">-->
                <!--address_city = #{addressCity, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="addressArea != null">-->
                <!--address_area = #{addressArea, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="addressDetails != null">-->
                <!--address_details = #{addressDetails, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="email != null">-->
                <!--email = #{email, jdbcType=VARCHAR},-->
            <!--</if>-->
            <!--<if test="pictureUrl != null">-->
                <!--picture_url = #{pictureUrl, jdbcType=VARCHAR},-->
            <!--</if>-->
        <!--</trim>-->
        <!--WHERE account = #{account};-->
    <!--</update>-->

    <!--<delete id="deleteUser" parameterType="java.lang.Integer">-->
        <!--DELETE FROM menu-->
        <!--WHERE user_id IN-->
        <!--<foreach collection="userIds" item="id" index="index" open="(" close=")" separator=",">-->
            <!--#{id}-->
        <!--</foreach>;-->
    <!--</delete>-->

    <!--<select id="findOne" parameterType="java.lang.Integer" resultMap="menuMap">-->
        <!--SELECT-->
        <!--<include refid="column" />-->
        <!--FROM menu WHERE user_id = #{userId} LIMIT 1;-->
    <!--</select>-->

    <!--<delete id="deleteOne" parameterType="java.lang.Integer">-->
        <!--DELETE FROM menu-->
        <!--WHERE user_id = #{userId};-->
    <!--</delete>-->

    <select id="checkName" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM menu WHERE name = #{name};
    </select>
</mapper>