<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.exc.mapper.StapleFoodMapper" >
    <select id="list" resultType="com.exc.model.StapleFood">
        SELECT s.id, s.href, s.alt, s.src, s.desc FROM staple_food s limit 6
    </select>
</mapper>