<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.huaruan.mapper.BookMapper" >
    <insert id="saveChapter" parameterType="java.util.List">
        INSERT INTO tb_chapter VALUES
        <foreach collection="chapterList" item="chapter" index="index" separator=",">
            ( NULL,
            <if test="chapter.chapterId != null">
                #{chapter.chapterId, jdbcType=VARCHAR},
            </if>
            <if test="chapter.chapterTitle != null">
                #{chapter.chapterTitle, jdbcType=VARCHAR}
            </if>
            )
        </foreach>
    </insert>
    
    <insert id="saveNode" parameterType="java.util.List">
        INSERT INTO tb_node VALUES
        <foreach collection="nodeList" item="node" index="index" separator=",">
            ( NULL,
            <if test="chapter.chapterId != null">
                #{chapter.chapterId, jdbcType=VARCHAR},
            </if>
            <if test="node.nodeId != null">
                #{node.nodeId, jdbcType=VARCHAR},
            </if>
            <if test="node.nodeTitle != null">
                #{node.nodeTitle, jdbcType=TEXT}
            </if>
            )
        </foreach>
    </insert>
</mapper>