<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.huaruan.mapper.UserMapper" >
    <resultMap id="userMap" type="cn.com.huaruan.model.User" >
        <id column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="account" property="account" jdbcType="VARCHAR" />
        <result column="pwd" property="pwd" jdbcType="VARCHAR" />
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="INTEGER" />
        <result column="id_card" property="idCard" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <result column="registered_time" property="registeredTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="column" >
        user_id, account, pwd, real_name, sex, id_card, phone, address, email, picture, registered_time
    </sql>

    <select id="selectUserList" parameterType="java.lang.String" resultMap="userMap" >
        SELECT
        <include refid="column" />
        FROM TB_USER
        <where>
            <if test="searchParam != null">
                account LIKE CONCAT("%",#{searchParam},"%");
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="cn.com.huaruan.model.RequestParamDao">
        INSERT INTO TB_USER VALUES(NULL, #{account}, #{pwd}, #{realName}, #{sex}, #{idCard}, #{phone}, #{address}, #{email}, #{picture}, NOW());
    </insert>

    <update id="updateUser"  parameterType="cn.com.huaruan.model.RequestParamDao">
        UPDATE TB_USER SET pwd= #{pwd}, real_name=#{realName}, sex=#{sex}, id_card=#{idCard}, phone=#{phone}, address=#{address}, email=#{email}, picture=#{picture}
        WHERE account = #{account};
    </update>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        DELETE FROM TB_USER
        WHERE user_id IN
        <foreach collection="userIds" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>;
    </delete>

    <select id="getUserByAccount" parameterType="java.lang.String" resultMap="userMap">
        SELECT
        <include refid="column" />
        FROM TB_USER WHERE account = #{account} LIMIT 1;
    </select>

    <select id="findOne" parameterType="java.lang.Integer" resultMap="userMap">
        SELECT
        <include refid="column" />
        FROM TB_USER WHERE user_id = #{userId} LIMIT 1;
    </select>

    <delete id="deleteOne" parameterType="java.lang.Integer">
        DELETE FROM TB_USER
        WHERE user_id = #{userId};
    </delete>

    <select id="checkAccount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM TB_USER WHERE account = #{account};
    </select>

    <select id="checkIdCard" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM TB_USER WHERE id_card = #{idCard};
    </select>

    <select id="checkPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM TB_USER WHERE phone = #{phone};
    </select>

    <select id="checkEmail" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM TB_USER WHERE email = #{email};
    </select>
</mapper>